extends layout

block content
	div.container-fluid
		div.row-fluid
			div.span3
				div.well.sidebar-nav
					ul.nav.nav-list
						li.nav-header Sidebar
						li.active
							a(href='#') Link
						li
							a(href='#') Link
						li
							a(href='#') Link
						li
							a(href='#') Link
						li.nav-header Sidebar
						li
							a(href='#') Link
						li
							a(href='#') Link
						li
							a(href='#') Link
						li
							a(href='#') Link
						li
							a(href='#') Link
						li
							a(href='#') Link
						li.nav-header	Sidebar
						li
							a(href='#') Link
						li
							a(href='#') Link
						li
							a(href='#') Link
	
			div.hero-unit
				div.page-header
					p.titulo
						|Escritos, versos y trozos de sueños...
					p.parrafo
						|Compartelos con la comunidad
