extends layout

block content
	div.jumbotron
			p.imglg: img.img-rounded(width='350px', align='left', src='/img/poesia.jpg', alt='poesia')
		h1
			|Bienvenido
		div.lead
			p.titulo
				|"...La poesía es como el viento,
				|o como el fuego, o como el mar.
				|Hace vibrar árboles, ropas,
				|abrasa espigas, hojas secas,
				|acuna en su oleaje
				|los objetos que duermen en la playa..."
				|José Hierro
				|España, (1922 - 2002)
				