div.masthead
	h3.muted Oda a los sueños -Poesia y Arte-
	
	div.navbar
		div.navbar-inner
			div.container
				ul.nav
					li.active: a(href='/') Inicio
					li: a(href='/museo') Museo
					li.dropdown
						a.dropdown-toggle(href='/biblioteca') Biblioteca
							b.caret
					li: a(href='/foro') Foro de discuciones
				form.navbar-search.pull-left
					input.search-query(type='text', placeholder='Buscar' )